/* media Querries */
$breakpoints: (
    "phone": 500px,
    "tablet": 800px,
    "desktop": 1024px,
);

/* from… */
@mixin media-min($_key) {
    @media screen
    and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

/* to… */
@mixin media-max($_key) {
    @media screen
    and (max-width: map-get($breakpoints, $_key) - 1) {
        &{ @content; }
    }
}

/* from… to… */
@mixin media-between($_keymin, $_keymax) {
    @media screen
    and (min-width: map-get($breakpoints, $_keymin))
    and (max-width: map-get($breakpoints, $_keymax) - 1) {
        &{ @content; }
    }
}

/* at… */
@mixin media($_key) {
    @media screen
    and (min-width: map-get($breakpoints, $_key))
    and (max-width: map-get(
        $breakpoints,
        nth(map-keys($breakpoints), index(map-keys($breakpoints), $_key) + 1)
      ) - 1) {
        &{ @content; }
    }
}


//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Nunito:wght@200;300&display=swap');

$bg1: #EDFFF9;
$bg2: #CFF9D4;
$disabled: #BAD4BB;
$white: #fff;
$black: #000B19;
$secondary: #8EDF87;
$primary: #25D382;

$orange: #FF9929;
$red: #FF4259;
$blue: #69CADE;

.center{
    margin: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.flex-line{
    display: flex;
    flex-direction: row;
}

.rotate{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


h1{
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 35px;
    color: $black;
}
h2{
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 30px;
    color: $black;
}
h3{
    font-family: 'Baloo 2';
    font-weight: 600;
    font-size: 28px;
    color: $black;
}
h4{
    font-family: 'Baloo 2';
    font-weight: 500;
    font-size: 26px;
    color: $black;
}
h5{
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 24px;
    color: $black;
}
h6{
    font-family: 'Baloo 2';
    font-weight: 300;
    font-size: 20px;
    color: $black;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0;
}
p{
    font-family: 'Baloo 2';
    font-weight: 300;
    font-size: 20px;
    color: $black;
}
//Input Predefinition
input, select, textarea {
    color: $black;
    background-color: $bg1;
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Baloo 2';
    font-weight: 500;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    padding: 10px;

    &::placeholder {
        color: $disabled;
    }

    &:-webkit-autofill {
        background-color: $bg2 !important;
        color: $black !important;
    }
}
a, p, label{
    color: $black;
    font-family: "Baloo 2";
    font-weight: normal;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.--big{
    color: $black;
    font-family: "Baloo 2";
    font-weight: 600;
    font-size: 25px;
}

.disabled{
    opacity: 0.7;
    color: $disabled !important;
    transition: none;
    cursor: default;
    animation: none;
    &:hover{
        transform: none;
    }
}

.--medium{
    color: $black;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 18px;
}

//Form
.form-input{
    height: 50px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    label{
        font-size: 22px;
        font-weight: 500;
        font-family: "Baloo 2";
    }
}
.form-error{
    p{
        color: $red;
        margin: 0;
    }
}
.form-healper{
    font-weight: 400 !important;
    font-style: italic !important;
    font-family: Nunito !important;
    font-size: 15px !important;
    opacity: 25% !important;
    color: $black;
}

.form-error{
    border: $red 1px solid !important;
}
.form-button{
    display: flex;
    .btn{
        margin-right: 0;
        margin-left: auto;
    }
}
.errors-list{
    li{
        font-size: 20px;
        font-weight: 400;
        color: red;
    }
    ul{
        margin: 0;
    }
    font-family: "Baloo 2";
    font-weight: 500;
    color: $red;
}

.btn{
    height: fit-content;
    width: fit-content;
    padding: 5px 25px;
    font-family: 'Baloo 2';
    font-weight: 700;
    background-color: $primary;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
    transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
    &:hover{
        -webkit-transform: scale(1.05);
        background-color: $secondary;
    }
}

.roomSelector{
    background-color: $bg1;
    padding: 15px;
    border-radius: 25px;
    min-width: 300px;
    max-width: 500px;
    width: 30vw;
    .react-select__control{
        background-color: $bg1;
        border: none;
        font-family: "Baloo 2";
        font-weight: 600;
        font-size: 20px;
        .react-select__value-container{
            background-color: $bg1;
        }
        .react-select__indicators{
            background-color: $bg1;
        }
    }
    .react-select__menu{
        background-color: $bg1;
        border: none;
        .react-select__option{
            background-color: $bg1;
            color: $black;
            font-family: "Baloo 2";
            font-weight: 500;
            font-size: 20px;
            &:hover{
                background-color: $bg2;
            }
        }
    }
}

//Searcher
.searcher{
    margin: 20px 0;
    background-color: $bg1;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 400px;
    border-radius: 10px;

    .searcher-input{
        border-radius:  0 10px 10px 0;
        margin: 0;
        width: 100%;
        background-color: $bg1;
    }
    .searcher-icon{
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 10px 0 0 10px;
        background-color: $primary;
    }

}

.updater{
    margin: auto 0;
    img{
        width: 50px;
        height: 50px;
        transition: all 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
    }
    &:hover{
        transform: scale(1) !important;

        img{
            transform: rotate(180deg);
        }
    }
}

.PageNavigator{
    button{
        background-color: $primary;
        border: none;
        border-radius: 20px;
        padding: 5px;
        margin: 0 7px;
        transition: all 300ms;
        cursor: pointer;
        img{
            width: 40px;
            height: 40px;
        }
        &:hover{
            background-color: $secondary;
        }
        &:disabled{
            opacity: 60%;
            cursor: not-allowed;
            &:hover{
                background-color: $secondary;
            }
        }
    }
}
.table-wrapper {
    margin: 50px auto auto auto;
    width: 80%;
    height: 80vh;
    zoom: 2.5;
    .table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto 20px auto;

        .searcher{
            @include media-max('phone'){
                width: 150px;
                height: 30px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .PageNavigator {
            margin: auto 0;

            @include media-max('phone'){
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .btn {
            @include media-max('phone'){
                font-size: 20px;
            }
            @include media-min('tablet'){
                font-size: 24px;
            }

            margin: auto 0;
        }

        select {
            @include media-max('phone'){
                width: 50px !important;
            }
            @include media-min('tablet'){
                width: 200px !important;
            }

        }
        .updater{
            @include media-max('phone'){
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .selector {
            margin: auto 0;
            display: flex;
            flex-direction: row;

            input {
                border-radius: 25px 0 0 25px;
                background-color: $bg1;
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

            }

            button {
                margin: auto 0;
                border-radius: 0 25px 25px 0;
                background-color: $bg2;
                border: none;
                cursor: pointer;

                img {
                    transition: all 400ms;
                    width: 40px;
                    height: 40px;

                    &:hover {
                        transform: scale(0.9) rotate(90deg);
                    }
                }
            }
        }
    }

    .table-container {
        height: 90%;
        overflow-y: scroll;
        margin: 0 auto;
        background-color: $bg1;
        border-radius: 25px;

        table {
            width: 100%;
            border-collapse: collapse;

            th {
                position: sticky;
                top: 0;
                background-color: $primary;
                z-index: 10;

                &:last-child {
                    border-radius: 0 25px 0 0;
                }

                &:first-child {
                    border-radius: 25px 0 0 0;
                }
            }

            tr {
                border: $red 1px solid;
                height: 10px;
                border-left: none;
                border-right: none;

                &:last-child {
                    border-bottom: none !important;
                }

                &:first-child {
                    border-top: none !important;
                }
            }

            td, th {
                @include media-max('phone'){
                    padding: 2px 6px;
                }
                @include media-min('tablet'){
                    padding: 5px 20px;
                }

                text-align: center;
                border: $red 1px solid;
                color: $black;
                border-top: none;
                border-bottom: none;
                overflow: hidden;

                img {
                    width: 25px;
                    height: auto;
                }

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }

                .btn {
                    background-color: $bg1;
                    text-align: center;
                    margin: 0 auto;

                    img {
                        width: 35px;
                        height: auto;
                    }
                }
            }

            th {
                @include media-max('phone'){
                    font-size: 12px;
                }
                @include media-min('tablet'){
                    font-size: 25px;
                }
                font-family: 'Baloo 2';
                font-size: 25px;
                color: $bg2;
            }

            td {
                @include media-max('phone'){
                    font-size: 12px;
                }
                @include media-min('tablet'){
                    ffont-size: 22px;
                }
                color: $black;
                font-family: 'Nunito';
                font-size: 22px;
                input, select{
                    @include media-max('phone'){
                        width: 150px;
                        height: 40px;
                    }
                    background-color: $bg2;
                }
                .btn{
                    @include media-max('phone'){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}




