/* media Querries */
$breakpoints: (
    "phone": 500px,
    "tablet": 800px,
    "desktop": 1024px,
);

/* from… */
@mixin media-min($_key) {
    @media screen
    and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

/* to… */
@mixin media-max($_key) {
    @media screen
    and (max-width: map-get($breakpoints, $_key) - 1) {
        &{ @content; }
    }
}

/* from… to… */
@mixin media-between($_keymin, $_keymax) {
    @media screen
    and (min-width: map-get($breakpoints, $_keymin))
    and (max-width: map-get($breakpoints, $_keymax) - 1) {
        &{ @content; }
    }
}

/* at… */
@mixin media($_key) {
    @media screen
    and (min-width: map-get($breakpoints, $_key))
    and (max-width: map-get(
        $breakpoints,
        nth(map-keys($breakpoints), index(map-keys($breakpoints), $_key) + 1)
      ) - 1) {
        &{ @content; }
    }
}


//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Nunito:wght@200;300&display=swap');

$bg1: #EDFFF9;
$bg2: #CFF9D4;
$disabled: #BAD4BB;
$white: #fff;
$black: #000B19;
$primary: #8EDF87;
$primary: #25D382;

$orange: #FF9929;
$red: #FF4259;
$blue: #69CADE;

.center{
    margin: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rotate{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


