@import 'var';

body, html, .app{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bg2;
    z-index: 1;
}

.notification-wrapper {
    position: fixed;
    height: calc(100vh - 80px);
    top: 80px;
    right: 10px;
    width: 350px;
    pointer-events: none;
    z-index: 15;
    .notification-item{
        padding: 5px 10px;
        min-height: 65px;
        pointer-events: all;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3), 1px 3px 4px rgba(0,0,0,.2);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        animation: SlideLeft 0.4s;
        animation-fill-mode: forwards;
        width: 90%;
        cursor: pointer;
        p{
            color: #fff;
            max-width: calc(100% - 15px);
            font-family: "Baloo 2", monospace;
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            word-wrap: break-word;
            margin-top: 10px;
        }
    }
    .danger {
        background-color: $red;
        border-left: 8px solid #bd1120;
    }
    .warning {
        background-color: $orange;
        border-left: 8px solid #b06319;
    }
    .info{
        background-color: #5b20b3;
        border-left: 8px solid #5b20b3;
    }
    .success {
        background-color: #118c45;
        border-left: 8px solid #118c45;
    }
    .exit {
        animation: SlideRight 0.4s;
        animation-fill-mode: forwards;
    }
    .undefined{
        display: none;
    }
}
//Progress bar
.bar{
    background-color: $white;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    .bar--filler{
        height: 10px !important;
        background-color: $primary;
        border-radius: 20px;
    }
}

/* Layout */
.layout{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    .navBar{
        display: flex;
        .menu-link{
            width: 40px;
            height: 40px;

            img{
                margin: 2.5px;
                width: 30px;
                height: 30px;
            }
        }
        .menu-selected{
            background-color: $bg1;
            fill: $primary;
            border-radius: 15px;
        }
    }

    @include media-max("phone"){
        .navBar{
            position: fixed;
            bottom: 0;
            height: 60px;
            background-color: $white;
            width: 100vw;
            border-radius: 25px 25px 0 0;
            z-index: 25;
            -webkit-box-shadow: 0px -2px 10px 10px rgba(0,0,0,0.1);
            box-shadow: 0px -2px 10px 10px rgba(0,0,0,0.1);
            flex-direction: row;
            justify-content: space-evenly;
            .menu-link{
                margin: auto 0;
            }
        }
        .page-content{

            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100vh - 60px);
            margin-bottom: 60px;

        }
    }
    @include media-min("tablet"){
        .navBar{
            position: fixed;
            top: 0;
            height: 100vh;
            background-color: $white;
            width: 60px;
            border-radius: 0 25px 25px 0;
            z-index: 25;
            -webkit-box-shadow: 2px 0 10px 10px rgba(0,0,0,0.1);
            box-shadow: 2px 0 10px 10px rgba(0,0,0,0.1);
            flex-direction: column;

            .menu-link{
                margin: 20px auto;
                transition: all 500ms;
                &:first-child{
                    margin: 50px auto 20px auto;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
            #setting_icons{
                margin-top: auto;
                margin-bottom: 50px !important;

            }
        }
        .page-content{
            overflow-y: auto;
            overflow-x: hidden;
            width: calc(100vw - 65px);
            height: calc(100vh);
            margin-left: 65px;
        }
    }

}

/* Loader */
.loading{
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    background-color: $bg2;
    display: flex;
    #loader_container{
        height: 100vh;
        width: 20vw;
        min-width: 250px;
        display: flex;
        #loadImg_Main{
            width: 20vw;

            height: auto;
            min-width: 250px;
        }
        .little_loader{
            margin: 0 auto;
            position: relative;
            width: 15vw;
            content: " ";
            height: 15vw;
            min-width: 200px;
            min-height: 200px;
            .rotate{
                width: 15vw;
                min-width: 200px;
                position: absolute;
                top: 0;
                z-index: 46;
            }
            #loader_co2{
                width: 13vw;
                min-width: 200px;
                position: absolute;
                top: 1vw;
                left: 1vw;
                z-index: 44;
            }
        }
    }


}

/* Charts */
.charts{
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .header{
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        .time_selector{
            margin-right: 0;
            margin-left: auto;
            display: flex;
            flex-direction: row;
        }
        input{
            display: flex;
            flex-direction: column;
            margin: auto 0;
        }
    }
    .charts-section{
        margin: 20px auto;
        width: 60vw;
        overflow: hidden;
        justify-content: space-between;
        .header{
            display: flex;
            flex-direction: row;
        }

        .gauge{
            border-radius: 15px;
            margin: 10px;
            background-color: $white;
            min-height: 100px;
            min-width: 100px;
            width: 18vw;
            height: 18vw;
            overflow: hidden;

            h4{
                font-weight: 600;
                margin-left: 15px;
            }
            .chart-container{
                width: 100%;
                height: 80%;
            }
            .highcharts-navigator-yaxis{
                display: none;
            }
            div:first-child{
                width: 100%;
                height: 80%;
            }
        }
        .charts-container{
            border-radius: 15px;
            overflow: hidden;
        }
        .btn-time{
            height: fit-content;
            width: fit-content;
            padding: 5px 25px;
            font-family: 'Baloo 2';
            font-weight: 700;
            background-color: $bg1;
            border-radius: 15px;
            border: none;
            color: $disabled;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 5px;
            transition: 400ms cubic-bezier(0.28,-0.46, 0.33, 1.5);
            &:hover{
                -webkit-transform: scale(1.05);
            }
        }
        .selected{
            background-color: $primary;
            color: $white;
            cursor:  default;
            &:hover{
                -webkit-transform: scale(1.00);
            }
        }
    }
}

.settings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    height:  100vh;
    .card{

        margin: auto 0;
        @include media-max("tablet"){
            margin-top: 40px;
        }
        background-color: $white;
        border-radius: 15px;
        padding: 10px 40px;
        width: 30vw;
        min-width: 280px;
        h2{
            text-align: center;
        }
    }
}

.sensor{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 60px);
    height: 100vh;
    overflow-y: scroll;
}

.sensor-popup{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 60px;
    z-index: 11;
    width: calc(100vw - 60px);
    height: 100vh;
    display: flex;
    backdrop-filter: blur(10px);
    .popup-card{
        box-shadow: 0 0 10px rgba(0,0,0, 0.3), 1px 3px 4px rgba(0,0,0,.2);
        h2{
            text-align: center;
        }
        padding: 10px 25px;
        margin: auto;
        width: 25vw;
        border-radius: 15px;
        background-color: $white;
        .btn:first-child{
            margin-left: 0;
            margin-right: auto;
            background-color: $secondary;
            &:hover{
                background-color: $bg2;
            }
        }
    }
}

.oneSensor{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .back-btn{
        position: fixed;
        top: 40px;
        left: 80px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .sensor-info{
        .sensor-info-form{
            display: flex;
            flex-direction: column;
        }
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .card{
            background-color: $white;
            box-shadow: 0 0 10px rgba(0,0,0, 0.3), 1px 3px 4px rgba(0,0,0,.2);
            border-radius: 15px;
            margin: 15px;
            display: flex;
            flex-direction: column;
        }
        .form-card{
            padding: 5px;
            width: 20vw;
            min-width: 200px;
            max-width: 500px;
        }

    }
    .qrCode{
        .card{
            padding: 25px 15px;
            img{
                width: 20vw;
                min-width: 150px;
                max-width: 550px;
                margin-bottom: 10px;
            }
            text-align: center;
        }

    }
    .del-btn{
        margin: auto;
        cursor: pointer;
        color: $white;
        font-family: "Baloo 2";
        font-weight: 600;
        font-size: 25px;
        border: none;
        background-color: $red;
        border-radius: 15px;
        padding: 10px;
        transition: all 500ms;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.user-viewer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}



